.normalOptions table {
    border-collapse: collapse;
    text-align: center;
    width: 585px;
    margin-left: 5%;
}

td,
th {
    border: 1px solid #fde428;
    padding: 20px 40px 20px 40px;
}

.normalOptions {
    float: left;
    margin-left: 5%;
    width: 40%;
    margin-right: 5%;
}

.formOption {
    float: right;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
}

form {
    /* Centrar el formulario en la página */
    margin: 0 auto;
    /* Esquema del formulario */
    padding: 15px;
    border: 1px solid #fde428;
    border-radius: 5px;
}

form ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

form li+li {
    margin-top: 25px;
}

label {
    /* Tamaño y alineación uniforme */

    display: inline-block;
    width: 140px;
    text-align: left;
}

input,
textarea {
    /* Para asegurarse de que todos los campos de texto tienen la misma configuración de letra
Por defecto, las áreas de texto tienen un tipo de letra monoespaciada */
    font: 15px 'Segoe UI';

    /* Tamaño uniforme del campo de texto */
    width: 375px;
    box-sizing: border-box;

    /* Hacer coincidir los bordes del campo del formulario */
    border: 1px solid #002e5b;
}

input:focus,
textarea:focus {
    /* Destacado adicional para elementos que tienen el cursor */
    border-color: #002e5b;
}

textarea {
    /* Alinear los campos de texto multilínea con sus etiquetas */
    vertical-align: top;

    /* Proporcionar espacio para escribir texto */
    height: 200px;
    width: 375px;
}

button {
    /* Este margen adicional representa aproximadamente el mismo espacio que el espacio
entre las etiquetas y sus campos de texto */
    margin-left: 45%;
    background-color: #002e5b;
    color: #fde428;
    font-family: 'Segoe UI';
    border-radius: 5px;
    padding: 5px;
}
