table {
    border-collapse: collapse;
    text-align: center;
    width: 600px;
}

td,
th {
    border: 1px solid #fde428;
    padding: 20px 40px 20px 40px;
}

.firstPart h4 {
    /*margin: 0px auto;
    text-align: center;*/
    font-size: 22px;
    color: #002e5b;
    border-bottom: 1px solid #fde428;
    padding-bottom: 10px;
    display: table;

    margin-bottom: 10px;

}

.windowsTable {
    float: left;
    width: 600px;
    margin-left: 8%;
    margin-right: 5%;
    
}
.androidTable{
    float: right;
    width: 600px;

}
