
footer{
    bottom: 0;
    margin-bottom: 0;
    margin-top: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    /*background-color: rgb(146, 145, 145);*/
    
    background-color: #002e5b;
    color: #fde428;
    width: 100%;
    position: relative;
    

}
footer img{
    padding-top: 10px;
    border-radius: 5%;
}

